<!DOCTYPE html>
<nav>
  <a href="{{ url_for('home') }}">Home</a> |
  <a href="{{ url_for('intake') }}">Intake</a> |
  <a href="{{ url_for('about') }}">Over ons</a> |
  
</nav>
<hr>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Intake - TrailTribe</title>
</head>
<body>

  
  <h1>Start jouw intake</h1>
  <p>Beste reiziger, beantwoord enkele korte vragen zodat we je beter kunnen matchen.</p>

  <form method="POST" action="/submit-intake">
    <label>Wat is je voorkeursbestemming?</label><br>
    <input type="text" name="destination" required><br><br>
    
     <label>Wat typeert jou het meest?</label>
    <select name="personality" required>
    <option value="">-- Kies je vibe --</option>
    <option value="avontuurlijk">Avontuurlijk 🌋</option>
    <option value="ontspannen">Ontspannen 🌴</option>
    <option value="cultureel">Cultureel 🏛️</option>
    <option value="sociaal">Sociaal 🤝</option>
    </select>
    
    <label>Budget:</label>
    <input type="text" name="budget" placeholder="bv. 1000-1500€" required>

    <label>Wat is je reisperiode?</label><br>
    <input type="text" name="travel_period" required><br><br>

    <button type="submit">Verstuur</button>
  </form>

  <button type="submit">Bekijk mijn match</button>
</form>
