{% extends "base.html" %}

{% block content %}
<div class="auth-container">

    <div class="auth-card">
        
        <h1>Welkom</h1>
        <p>
            Log in als reiziger of organisator.
        </p>

        <form action="{{ url_for('login') }}" method="post" style="display: flex; flex-direction: column; gap: 20px;">
            
            <div class="auth-input-group">
                <label>E-mailadres</label>
                <input type="email" name="email" required placeholder="jouw@email.com" class="auth-input">
            </div>

            <button type="submit" class="auth-submit-btn">
                Verder gaan
            </button>
        </form>

        <div class="auth-footer">
            Nog geen account? <br>
            <a href="{{ url_for('register') }}">Registreer hier als Reiziger of Organisatie</a>
        </div>
    </div>

</div>
{% endblock %}